
.hub {
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 15px;
    border: 2px #000000 solid;
    height: 2000px;
    width: 1100px;
    margin: auto;
}

.header {
    background-color: white;

}

.image {
background-image: url("../img/summoner.jpg");
width: 531px;
height: 380px;
}

.campeoes {
    background-image: url("../img/champ.jpg");
    border-radius: 1px;
    border: 1px black solid;
    width: 915px;
    height: 720px;
}